<div class="empty-state empty-state--only-child">
  <p class="empty-state__text">
    You don't have any appliances yet!
  </p>

  <%= link_to "Add appliance",
              new_property_appliance_path(@property),
              data: { turbo_frame: dom_id(Appliance.new, :hello) },
              class: "btn btn--primary" %>  
</div>