<div class="empty-state empty-state--only-child">
  <p class="empty-state__text">
    You don't have any spaces yet!
  </p>

  <%= link_to "Add space",
              new_property_space_path(@property),
              data: { turbo_frame: dom_id(Space.new) },
              class: "btn btn--primary emptyStateLink" %>  
</div>