<div class="empty-state">
    <p class="empty-state__text">
        House On File was not able to find enough data on the internet to create a report for this property. Please use the builder tools here to create a custom property report.
    </p>

    <%= render "properties/form_template", property: @property, template: "2 bed" %>
</div>