<div class="container">
    <div class="empty-state">
        <p class="empty-state__text">
            Many properties are similar on the inside or outside. Please choose an idea below that sounds close to what this property is. 
        </p>
    </div>
    
    <div class="empty-state">
        <%= link_to "Suggest everything",
                    create_everything_path(id: @property),
                    class: "btn btn--primary" %>
    </div>
</div>
