.empty-state {
  padding: var(--space-m);
  border: var(--border);
  border-style: dashed;
  text-align: center;

  &__text {
    font-size: var(--font-size-l);
    color: var(--color-text-header);
    margin-bottom: var(--space-l);
    font-weight: bold;
  }
    
  &--only-child {
    display: none;

    &:only-child {
      display: revert;
    }
  }
}

.empty\:hidden:empty { display: none; }
.peer:invalid ~ .peer-invalid\:hidden { display: none; }

.aria-selected\:outline-black[aria-selected="true"] { outline: 2px dotted black; }