.form {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-xs);

  &__group {
    flex: 1;
  }

  &__input {
    display: block;
    width: 100%;
    max-width: 100%;
    padding: var(--space-xxs) var(--space-xs);
    border: var(--border);
    border-radius: var(--border-radius);
    outline: none;
    transition: box-shadow 250ms;

    &:focus {
      box-shadow: 0 0 0 2px var(--color-glint);
    }

    &--invalid {
      border-color: var(--color-primary);
    }
  }
    
  &--property-low {
    margin-bottom: var(--space-xxxs);
  }
    
  &--property-dropdown {
    width: 45%;    
  }
}

//  you typically don't add margins to components for a good design model but oh well
.peer {
  display: flex;
  justify-content: flex-start;
  gap: var(--space-s);
  margin-bottom: var(--space-xs);
}
