.property {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--space-s);

  background-color: var(--color-white);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-small);
  margin-bottom: var(--space-m);
  padding: var(--space-xs);

  @include media(tabletAndUp) {
    padding: var(--space-xs) var(--space-m);
  }

  &__actions {
    display: flex;
    flex: 0 0 auto;
    align-self: flex-start;
    gap: var(--space-xs);
      
    justify-content: flex-end;
  }
       
  &__input-large {
    flex: 1 1 100%;

    @include media(tabletAndUp) {
      flex: 1 1 0;
    }   
  }
    
  &__input-medium {
    flex: 1;
    display: none;

    @include media(tabletAndUp) {
      display: revert;
      flex: 0 0 9rem;
    }
  }
    
  &__input-small {
    flex: 1;
    display: none;

    @include media(tabletAndUp) {
      display: revert;
      flex: 0 0 7rem;
    }
  }
    
  &__dropdown {
    font-size: 0.875rem;
    width: 100%;
  }
    
  &__hint {
    font-size: 0.875rem;
    max-width: 50%;
  }
    
  &--form {
    flex-basis: 100%;
    justify-content: flex-start;
//    gap: var(--space-xs);
//    margin-bottom: var(--space-s);
//    padding: var(--space-xs);     
  }
    
  &--inputs {
    display: flex;
  }
    
//  you typically don't add margins to components for a good design model but oh well
  &--fieldset {
    padding: var(--space-s);
      
    .legend {
      margin-left: var(--space-l); 
    }
  }
}

//these are inside Simple Form config?
#property-name, #property_address, #property_addresstwo, #property_city, #property_state, #property_zip, #property_country, #property_yearbuilt, #property_lotsize, #property_squarefootage {
  margin-bottom: var(--space-m);     
}