.space-search-result {
  &__body {
    height: 700px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    column-gap: var(--space-m);  
    
    background-color: var(--color-white);
    margin-top: var(--space-xs);
    padding: var(--space-xxs);
    padding-top: 0;

    @include media(tabletAndUp) {
      padding: var(--space-m);
    }        
  }
    
  &--letter-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--space-s);
    background-color: var(--color-light);     
  }

  &--letter-header {
    font-weight: normal;    
  }
    
  &--line-item {
    list-style-type: none;    
  }
}


